<main id="app">
  <div class="container mt-4">
    <!-- Breadcrumb Navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Class
        </li>
      </ol>
    </nav>

    <!-- Search and Action Buttons -->
    <div class="d-flex justify-content-between mb-3">
      <form (ngSubmit)="searchClasses()">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="searchId" name="searchId" placeholder="Nhập tên môn học" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-primary" type="submit" id="button-addon2">Tìm kiếm</button>
          <button class="btn btn-outline-secondary ms-2" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px" type="button" (click)="clear()">Làm mới</button>
        </div>
      </form>
      <div>

        <button class="btn btn-primary me-2">
          <i class="bi bi-file-earmark-spreadsheet"></i> Xuất Excel
        </button>
        <!-- Nút Thêm mới -->
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addStudentModal">
          <i class="bi bi-plus-circle"></i> Thêm mới
        </button>
      </div>
    </div>

    <!-- Table Content -->
    <table class="table table-bordered">
      <thead class="table-light">
      <tr>
        <th colspan="12" class="text-start font-weight-bold">
          Danh sách subject
        </th>
      </tr>
      <tr>
        <th>STT</th>
        <th>ClassCode</th>
        <th>ClassName</th>
        <th>Session</th>
        <th>CreteDate</th>
        <th>UpdateDate</th>
        <th>IsDelete</th>
        <th>SubjectsID</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let class of classes">
        <td>{{ class.classID }}</td>
        <td>{{ class.classCode }}</td>
        <td>{{ class.className }}</td>
        <td>{{ class.session }}</td>
        <td>{{ class.createDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ class.updateDate | date: 'dd/MM/yyyy'}}</td>
        <td>
          {{ class.isDelete ? 'Inactive' : 'Active' }}
        </td>
        <td>{{ class.subjectsID }}</td>
        <td>
          <!--          <a [routerLink]="['/subjects/update-classes', class.ClassID]" style="cursor: pointer;">-->
          <!--            <i class="bi bi-pencil-square me-2"></i>-->
          <!--          </a>-->
          <i (click)="deleteClasses(class.classID)" class="bi bi-trash-fill" style="cursor: pointer; color: red;"></i>
        </td>
      </tr>
      </tbody>
    </table>


    <!-- Modal -->
    <div class="modal fade" id="addClassModal" tabindex="-1" aria-labelledby="addClassModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addClassModalLabel">Thêm lớp học</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addStudentForm" (ngSubmit)="addClasses()">
              <div class="mb-3">
                <label for="ClassCode" class="form-label">Mã lớp ho</label>
                <input type="text" class="form-control" id="ClassCode" [(ngModel)]="newClass.classCode" name="ClassCode" >
              </div>
              <div class="mb-3">
                <label for="ClassName" class="form-label">Tên lớp học</label>
                <input type="text" class="form-control" id="ClassName" [(ngModel)]="newClass.className" name="ClassName">
              </div>
              <button type="submit" class="btn btn-primary" id="saveStudent">Lưu</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>
