/* Làm cho văn bản của các mục điều hướng đậm hơn */
.navbar-nav .nav-link {
  font-weight: bold;
}

/* Thu hẹp chiều rộng của ô tìm kiếm */
.navbar .form-control {
  width: 370px; /* Điều chỉnh chiều rộng để có khoảng trống cho các biểu tượng */
  margin-right: 20px; /* Khoảng cách giữa ô tìm kiếm và nút Tìm kiếm */
}

/* Căn chỉnh biểu tượng */
.navbar .icon-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Khoảng cách giữa các biểu tượng */
  margin-left: 20px;
}
.bi-person-circle:hover {
  color: #007bff;
}
.modal-dialog {
  max-width: 400px; /* Giới hạn chiều rộng modal */
  margin: auto;
}

/* Tùy chỉnh input trong form */
.input-custom {
  height: 45px; /* Chiều cao đồng nhất */
  font-size: 16px;
  border-radius: 5px; /* Bo góc nhẹ */
}

/* Căn chỉnh form */
.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Khoảng cách giữa các mục */
}

/* Tùy chỉnh nút đăng nhập */
.btn-primary {
  height: 45px;
  font-size: 16px;
}
